<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="SharedImagesFolder" value="C:\inetpub\wwwroot\visanet-staging\_images\Front" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.4:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Staging/FileSharing" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>