<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <lifClients>
    <clients>
      <add appId="LifClientApp" thumbprint="84CC0A008C6CBB7D25E986628CFD67B4F5FE19EF" xdt:Transform="Replace" xdt:Locator="Match(appId)" />
    </clients>
  </lifClients>

  <webapiservices>
    <client>
      <!-- TODO v: cambiar -->
      <add name="Card" address="/api/Card" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Discount" address="/api/Discount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="LifApiBill" address="/api/LifApiBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="DefaultBin" value="999998" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IncludeIssuingCompany" value="LifClientApp" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.9:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Staging/APILIF-Publica" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>