<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="Email" address="http://demouy.hexacta.com:86/API/api/Email" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CyberSourceAcknowledgement" address="http://demouy.hexacta.com:86/API/api/CyberSourceAcknowledgement" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://demouy.hexacta.com:86/API/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="MailgunApiKey" value="key-4cf863b9a8d37b07314f9054fc0e0cd1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunDateOffset" value="1970/01/01" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=vnptesting;AccountKey=6NV3MA2+gTgMOb0K6euf0zQW8kcnKyesqGmiVSF/pSeGK+7630va6rT57A1sn2q1Md+QLzlM83gNTBacF+2HBA==;"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Development/WebApi" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>