<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="Email" address="http://namba.visanet.com.uy:62652/api/Email" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CyberSourceAcknowledgement" address="http://namba.visanet.com.uy:62652/api/CyberSourceAcknowledgement" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://namba.visanet.com.uy:62652/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="MailgunApiKey" value="key-05451381711ae3f28fd7f9033a51cc84" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunDateOffset" value="1970/01/01" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=portalwebvnp;AccountKey=8NPvYoDgPlJN9qSBDLga892Z9IzBva7i4yoOtQ9nfUOqFAR+UDk941nH65zm7c8kXJWX23x/PO1UaTxJI0ue9g==;"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.9:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="VisaNet/WebApi" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>