@using VisaNet.Common.Resource.Presentation
<!-- simbolos de pasos -->

<div class="row servicesSteps steps">
    <div class="col-xs-3"></div>
    <div class="col-xs-2 pr0 pl0">
        <div id="stepService" class="box">
            <div class="iconBox">
                <div class="iconMargin">
                    <div class="icon"> <i class="icon-file-text-alt"></i> </div>
                </div>
                <div class="iconDescription"> 1. @PresentationWebStrings.Step_Service </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1  p5r p5l">
        <div class="iconBox"> <i class="icon-arrow-right"></i> </div>
    </div>
    <div class="col-xs-2 pr0 pl0">
        <div id="stepNotification" class="box">
            <div class="iconBox">
                <div class="iconMargin">
                    <div class="icon"> <i class="icon-magic"></i> </div>
                </div>
                <div class="iconDescription"> 2.@PresentationWebStrings.Step_Notification </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1  p5r p5l">
        <div class="iconBox"> <i class="icon-arrow-right"></i> </div>
    </div>
    <div class="col-xs-2 pr0 pl0">
        <div id="stepCard" class="box">
            <div class="iconBox">
                <div class="iconMargin">
                    <div class="icon"> <i class="icon-credit-card"></i> </div>
                </div>
                <div class="iconDescription"> 3.@PresentationWebStrings.Step_Card </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1 serviceSteps"></div>
</div>

<!-- fin simbolos de pasos -->

