<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="ErrorEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_ErrorEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}" />
    <target name="TrackingEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_TrackingEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="EmailNotification" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_EmailEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="HighwayEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_HighwayEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="ExtractEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_ExtractEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="GeocomEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_GeocomEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="SuciveEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_SuciveEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
    <target name="SistarbancEvents" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMM}_SistarbancEvents.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level} | ${message}"/>
  </targets>
  <rules>
    <logger name="Default" levels="Fatal,Error" writeTo="ErrorEvents" />
    <logger name="Default" levels="Warn,Info,Debug,Trace" writeTo="TrackingEvents" />
    <logger name="EmailNotification" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="EmailNotification" />
    <logger name="Highway" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="HighwayEvents" />
    <logger name="Extract" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="ExtractEvents" />
    <logger name="Geocom" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="GeocomEvents" />
    <logger name="Sucive" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="SuciveEvents" />
    <logger name="Sistarbanc" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="SistarbancEvents" />
  </rules>
</nlog>

