<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesError.css">
</head>
<body>
    <div class="error">
        <h1>ERROR <span>500</span></h1>
        <h2>Ha ocurrido un error al procesar su solicitud.</h2>
        <p>Por favor vuelva a intentar. Si el error persiste comuníquese con el call center.</p>
        <hr>
        @*<a href="javascript:history.go(-1)" class="btn volver">Volver</a>*@
    </div>
</body>
</html>