<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="InProc" timeout="480" xdt:Transform="Replace" xdt:Locator="Match(mode)" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="475" slidingExpiration="true" xdt:Transform="Replace" xdt:Locator="Match(loginUrl)" />
    </authentication>
  </system.web>

  <webapiservices>
    <client>
      <add name="ServiceCategory" address="https://staging-api.vnet.uy/api/ServiceCategory" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Service" address="https://staging-api.vnet.uy/api/Service" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Gateway" address="https://staging-api.vnet.uy/api/Gateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Page" address="https://staging-api.vnet.uy/api/Page" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Contact" address="https://staging-api.vnet.uy/api/Contact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Faq" address="https://staging-api.vnet.uy/api/Faq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Subscriber" address="https://staging-api.vnet.uy/api/Subscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="SystemUser" address="https://staging-api.vnet.uy/api/SystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Role" address="https://staging-api.vnet.uy/api/Role" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="HomePage" address="https://staging-api.vnet.uy/api/HomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="RegisterUser" address="https://staging-api.vnet.uy/api/RegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="HomePageItem" address="https://staging-api.vnet.uy/api/HomePageItem" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Parameters" address="https://staging-api.vnet.uy/api/Parameters" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bin" address="https://staging-api.vnet.uy/api/Bins" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Payment" address="https://staging-api.vnet.uy/api/Payment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Notification" address="https://staging-api.vnet.uy/api/Notification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ApplicationUser" address="https://staging-api.vnet.uy/api/ApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ServiceAssociated" address="https://staging-api.vnet.uy/api/ServiceAssociated" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Discount" address="https://staging-api.vnet.uy/api/Discount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Audit" address="https://staging-api.vnet.uy/api/Audit" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Promotion" address="https://staging-api.vnet.uy/api/Promotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Reports" address="https://staging-api.vnet.uy/api/Reports" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationSummary" address="https://staging-api.vnet.uy/api/ConciliationSummary" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Log" address="https://staging-api.vnet.uy/api/Log" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bill" address="https://staging-api.vnet.uy/api/Bill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="FileSharing" address="http://localhost:60596/api/FileSharing" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Tc33" address="https://staging-api.vnet.uy/api/Tc33" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ReportsHighway" address="https://staging-api.vnet.uy/api/ReportsHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebhookLog" address="https://staging-api.vnet.uy/api/WebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Integration" address="https://staging-api.vnet.uy/api/Integration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ChangeTracker" address="https://staging-api.vnet.uy/api/ChangeTracker" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="FixedNotification" address="https://staging-api.vnet.uy/api/FixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CyberSourceAccess" address="https://staging-api.vnet.uy/api/CyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="SystemVersions" address="https://staging-api.vnet.uy/api/SystemVersions" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationDailySummary" address="https://staging-api.vnet.uy/api/ConciliationDailySummary" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Email" address="https://staging-api.vnet.uy/api/Email" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="BinGroup" address="https://staging-api.vnet.uy/api/BinGroup" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bank" address="https://staging-api.vnet.uy/api/Bank" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="LifApiBill" address="https://staging-api.vnet.uy/api/LifApiBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationVNP" address="https://staging-api.vnet.uy/api/ConciliationVNP" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Interpreter" address="https://staging-api.vnet.uy/api/Interpreter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ServiceValidator" address="https://staging-api.vnet.uy/api/ServiceValidator" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="DebitCommerce" address="https://staging-api.vnet.uy/api/DebitCommerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="AffiliationCard" address="https://staging-api.vnet.uy/api/AffiliationCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationVisaNetTc33" address="https://staging-api.vnet.uy/api/ConciliationVisaNetTc33" xdt:Transform="Replace" xdt:Locator="Match(name)" />

      <add name="CustomerSiteCommerce" address="https://staging-customersiteapi.vnet.uy/api/Commerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CustomerSiteBranch" address="https://staging-customersiteapi.vnet.uy/api/Commerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CustomerSiteSystemUser" address="https://staging-customersiteapi.vnet.uy/api/SystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="ExcelResponseType" value="application/vnd.ms-excel" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SharedImagesFolderVD" value="https://staging-web.vnet.uy/Imagenes/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SharedImagesFolder" value="C:\inetpub\wwwroot\visanet-staging\_images" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Tc33Path" value="C:\inetpub\wwwroot\visanet-staging\_files\Tc33" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Tc33PathOut" value="C:\inetpub\wwwroot\visanet-staging\_files\Tc33\Processed" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HighwayFile" value="C:\inetpub\wwwroot\visanet-staging\_files\Highway" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TransReports" value="C:\inetpub\wwwroot\visanet-staging\_files\TransactionReports" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ManualSynchronizationFolder" value="C:\inetpub\wwwroot\visanet-staging\_files\ManualSynchronization" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="URLCallBackCyberSource" value="https://staging-admin.vnet.uy/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AppUserForTest" value="visanetpagos@hexacta.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- SFTP configuration -->
    <!-- TODO v cambiar -->
    <add key="HBSshPrivateKeyPath" value="E:\Apps_Web\VisanetPagos\Certificados" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshPrivateKeyName" value="App_VisanetPagos_SFTP.ppk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPUserName" value="BACO\App_VisanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPassword" value="Server2015Iuk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPHostName" value="192.168.104.174" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPortNumber" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshHostKeyFingerprint" value="ssh-rsa 2048 07:b0:c3:ca:66:44:f9:49:ff:80:c9:f9:a1:a6:67:2b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPLogPath" value="~/Logs/SFTPLogs.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="InterpreterFilePath" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="InterpreterContainerName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- AZURE -->
    <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=vnptesting;AccountKey=6NV3MA2+gTgMOb0K6euf0zQW8kcnKyesqGmiVSF/pSeGK+7630va6rT57A1sn2q1Md+QLzlM83gNTBacF+2HBA==;" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="CountriesIsoList" value="CountriesIsoList.json" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ActualThumbprintVNP" value="3B4D89047F1FABBD8B6D93BAEEC14F68B7779AA9" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- System Versions Urls -->
    <add key="UrlWebVersion" value="https://staging-web.vnet.uy/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlVonRegisterVersion" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlVisaNetOnVersion" value="https://staging-visaneton.vnet.uy/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlCustomerSiteVersion" value="https://staging-customersiteweb.vnet.uy/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlLifPublicApiVersion" value="https://staging-lifapi.vnet.uy/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlNotificationPublicApiVersion" value="https://staging-notificationapi.vnet.uy/api/Version/Get" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.4:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Staging/Admin" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>