<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="webapiservices" type="VisaNet.Presentation.Core.Configuration.WebApiServiceConfigurationSection, VisaNet.Presentation.Core, Version=1.0.0.0, Culture=neutral" restartOnExternalChanges="false" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <webapiservices>
    <client>
      <add name="ServiceCategory" address="http://localhost:62652/api/ServiceCategory" />
      <add name="Service" address="http://localhost:62652/api/Service" />
      <add name="Gateway" address="http://localhost:62652/api/Gateway" />
      <add name="Page" address="http://localhost:62652/api/Page" />
      <add name="Contact" address="http://localhost:62652/api/Contact" />
      <add name="Faq" address="http://localhost:62652/api/Faq" />
      <add name="Subscriber" address="http://localhost:62652/api/Subscriber" />
      <add name="SystemUser" address="http://localhost:62652/api/SystemUser" />
      <add name="Role" address="http://localhost:62652/api/Role" />
      <add name="HomePage" address="http://localhost:62652/api/HomePage" />
      <add name="RegisterUser" address="http://localhost:62652/api/RegisterUser" />
      <add name="HomePageItem" address="http://localhost:62652/api/HomePageItem" />
      <add name="Parameters" address="http://localhost:62652/api/Parameters" />
      <add name="Bin" address="http://localhost:62652/api/Bins" />
      <add name="Payment" address="http://localhost:62652/api/Payment" />
      <add name="Notification" address="http://localhost:62652/api/Notification" />
      <add name="ApplicationUser" address="http://localhost:62652/api/ApplicationUser" />
      <add name="ServiceAssociated" address="http://localhost:62652/api/ServiceAssociated" />
      <add name="Discount" address="http://localhost:62652/api/Discount" />
      <add name="Audit" address="http://localhost:62652/api/Audit" />
      <add name="Promotion" address="http://localhost:62652/api/Promotion" />
      <add name="Reports" address="http://localhost:62652/api/Reports" />
      <add name="ConciliationSummary" address="http://localhost:62652/api/ConciliationSummary" />
      <add name="Log" address="http://localhost:62652/api/Log" />
      <add name="Bill" address="http://localhost:62652/api/Bill" />
      <add name="FileSharing" address="http://localhost:60596/api/FileSharing" />
      <add name="Tc33" address="http://localhost:62652/api/Tc33" />
      <add name="ReportsHighway" address="http://localhost:62652/api/ReportsHighway" />
      <add name="WebhookLog" address="http://localhost:62652/api/WebhookLog" />
      <add name="Integration" address="http://localhost:62652/api/Integration" />
      <add name="ChangeTracker" address="http://localhost:62652/api/ChangeTracker" />
      <add name="FixedNotification" address="http://localhost:62652/api/FixedNotification" />
      <add name="CyberSourceAccess" address="http://localhost:62652/api/CyberSourceAccess" />
      <add name="SystemVersions" address="http://localhost:62652/api/SystemVersions" />
      <add name="ConciliationDailySummary" address="http://localhost:62652/api/ConciliationDailySummary" />
      <add name="Email" address="http://localhost:62652/api/Email" />
      <add name="BinGroup" address="http://localhost:62652/api/BinGroup" />
      <add name="Bank" address="http://localhost:62652/api/Bank" />
      <add name="LifApiBill" address="http://localhost:62652/api/LifApiBill" />
      <add name="ConciliationVNP" address="http://localhost:62652/api/ConciliationVNP" />
      <add name="Interpreter" address="http://localhost:62652/api/Interpreter" />
      <add name="ServiceValidator" address="http://localhost:62652/api/ServiceValidator" />
      <add name="DebitCommerce" address="http://localhost:62652/api/DebitCommerce" />
      <add name="AffiliationCard" address="http://localhost:62652/api/AffiliationCard" />
      <add name="ConciliationVisaNetTc33" address="http://localhost:62652/api/ConciliationVisaNetTc33" />
      <add name="WebCard" address="http://localhost:62652/api/WebCard" />
      <add name="CustomerSiteCommerce" address="http://localhost:63710/api/Commerce" />
      <add name="CustomerSiteBranch" address="http://localhost:63710/api/Commerce" />
      <add name="CustomerSiteSystemUser" address="http://localhost:63710/api/SystemUser" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ExcelResponseType" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <add key="SharedImagesFolderVD" value="http://localhost/" />
    <add key="SharedImagesFolder" value="C:\inetpub\Visa\Images" />
    <add key="Tc33Path" value="C:\inetpub\visanet\Tc33" />
    <add key="Tc33PathOut" value="C:\inetpub\visanet\Tc33\Processed" />
    <add key="HighwayFile" value="D:\Highway" />
    <add key="TransReports" value="D:\Deployment\VisaNet" />
    <add key="ManualSynchronizationFolder" value="D:\Projects\Visanet" />

    <add key="URLCallBackCyberSource" value="https://demouy.hexacta.com/VNPCarreteraAdmin/PaymentHandler" />
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" />
    <add key="AppUserForTest" value="visanetpagos@hexacta.com" />

    <!-- SFTP configuration -->
    <add key="HBSshPrivateKeyPath" value="E:\Apps_Web\VisanetPagos\Certificados" />
    <add key="HBSshPrivateKeyName" value="App_VisanetPagos_SFTP.ppk" />
    <add key="HBSFTPUserName" value="BACO/App_VisanetPagos" />
    <add key="HBSFTPPassword" value="Server2015Iuk" />
    <add key="HBSFTPHostName" value="192.168.104.174" />
    <add key="HBSFTPPortNumber" value="22" />
    <add key="HBSshHostKeyFingerprint" value="ssh-rsa 2048 07:b0:c3:ca:66:44:f9:49:ff:80:c9:f9:a1:a6:67:2b" />
    <add key="HBSFTPLogPath" value="~/Logs/SFTPLogs.txt" />

    <add key="InterpreterFilePath" value="D:\VisaNet-Pagos\Source\Branch\VNPAppDevelopment\01-Presentation\VisaNet.Presentation.Administration\Interpreters" />
    <add key="InterpreterContainerName" value="interpreters" />

    <!-- AZURE -->
    <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=vnptesting;AccountKey=6NV3MA2+gTgMOb0K6euf0zQW8kcnKyesqGmiVSF/pSeGK+7630va6rT57A1sn2q1Md+QLzlM83gNTBacF+2HBA==;" />
    <add key="AzureImagesUrl" value="https://vnptesting.blob.core.windows.net/images/" />
    <add key="AzureImagesContainerName" value="images" />
    <add key="AzureServicesImageFolder" value="services" />
    <add key="AzureCommerceImageFolder" value="commerces" />
    <add key="AzureBinsImageFolder" value="bins" />
    <add key="AzurePromotionsImageFolder" value="promotions" />
    <add key="AzureFilesContainerName" value="files" />
    <add key="AzureConciliationBanredUnprocessedFolder" value="conciliation/banred/unprocessed" />
    <add key="AzureConciliationVisanetCallbackUnprocessedFolder" value="conciliation/visanetcallback/unprocessed" />
    <add key="AzureConciliationSistarbancUnprocessedFolder" value="conciliation/sistarbanc/unprocessed" />
    <add key="AzureHighwayUnprocessedFolder" value="highway" />

    <add key="CountriesIsoList" value="CountriesIsoList.json" />
    <add key="MaxNumberQuotas" value="12" />
    <add key="ActualThumbprintVNP" value="3B4D89047F1FABBD8B6D93BAEEC14F68B7779AA9" />

    <!-- System Versions Urls -->
    <add key="UrlWebVersion" value="http://localhost:8530/Version/GetVersion" />
    <add key="UrlVonRegisterVersion" value="http://localhost:52153/Version/GetVersion" />
    <add key="UrlVisaNetOnVersion" value="http://localhost:56734/Version/GetVersion" />
    <add key="UrlCustomerSiteVersion" value="http://localhost:57110/Version/GetVersion" />
    <add key="UrlLifPublicApiVersion" value="http://localhost:60747/Version/GetVersion" />
    <add key="UrlNotificationPublicApiVersion" value="http://localhost:63208/api/Version/Get" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" />
    <add key="GraylogEnvironment" value="Local/Admin" />
    <add key="GraylogVersion" value="1.1" />
    <add key="GraylogEnabledSaveSecundary" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" maxRequestLength="2097152" />
    <globalization uiCulture="es-UY" culture="es-UY" />
    <sessionState mode="InProc" timeout="480" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="475" />
    </authentication>
    <customErrors mode="Off">
      <error statusCode="403" redirect="~/Error" />
      <error statusCode="404" redirect="~/Error" />
    </customErrors>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/Error" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="/Error" responseMode="ExecuteURL" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CustomServerHeaderModule" type="VisaNet.Presentation.Administration.ServerModules.CustomServerHeaderModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>

  <location allowOverride="false" path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location allowOverride="false" path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/Elmah.Errors" />
  </elmah>

</configuration>
