<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="InProc" timeout="480" xdt:Transform="Replace" xdt:Locator="Match(mode)" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="475" slidingExpiration="true" xdt:Transform="Replace" xdt:Locator="Match(loginUrl)" />
    </authentication>
  </system.web>

  <webapiservices>
    <client>
      <add name="ServiceCategory" address="http://demouy.hexacta.com:81/API/api/ServiceCategory" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Service" address="http://demouy.hexacta.com:81/API/api/Service" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Gateway" address="http://demouy.hexacta.com:81/API/api/Gateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Page" address="http://demouy.hexacta.com:81/API/api/Page" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Contact" address="http://demouy.hexacta.com:81/API/api/Contact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Faq" address="http://demouy.hexacta.com:81/API/api/Faq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Subscriber" address="http://demouy.hexacta.com:81/API/api/Subscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="SystemUser" address="http://demouy.hexacta.com:81/API/api/SystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Role" address="http://demouy.hexacta.com:81/API/api/Role" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="HomePage" address="http://demouy.hexacta.com:81/API/api/HomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="RegisterUser" address="http://demouy.hexacta.com:81/API/api/RegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="HomePageItem" address="http://demouy.hexacta.com:81/API/api/HomePageItem" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Parameters" address="http://demouy.hexacta.com:81/API/api/Parameters" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bin" address="http://demouy.hexacta.com:81/API/api/Bins" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Payment" address="http://demouy.hexacta.com:81/API/api/Payment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Notification" address="http://demouy.hexacta.com:81/API/api/Notification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ApplicationUser" address="http://demouy.hexacta.com:81/API/api/ApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ServiceAssociated" address="http://demouy.hexacta.com:81/API/api/ServiceAssociated" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Discount" address="http://demouy.hexacta.com:81/API/api/Discount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Audit" address="http://demouy.hexacta.com:81/API/api/Audit" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Promotion" address="http://demouy.hexacta.com:81/API/api/Promotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Reports" address="http://demouy.hexacta.com:81/API/api/Reports" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationSummary" address="http://demouy.hexacta.com:81/API/api/ConciliationSummary" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Log" address="http://demouy.hexacta.com:81/API/api/Log" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bill" address="http://demouy.hexacta.com:81/API/api/Bill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="FileSharing" address="http://localhost:60596/api/FileSharing" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Tc33" address="http://demouy.hexacta.com:81/API/api/Tc33" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ReportsHighway" address="http://demouy.hexacta.com:81/API/api/ReportsHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebhookLog" address="http://demouy.hexacta.com:81/API/api/WebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Integration" address="http://demouy.hexacta.com:81/API/api/Integration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ChangeTracker" address="http://demouy.hexacta.com:81/API/api/ChangeTracker" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="FixedNotification" address="http://demouy.hexacta.com:81/API/api/FixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CyberSourceAccess" address="http://demouy.hexacta.com:81/API/api/CyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="SystemVersions" address="http://demouy.hexacta.com:81/API/api/SystemVersions" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationDailySummary" address="http://demouy.hexacta.com:81/API/api/ConciliationDailySummary" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Email" address="http://demouy.hexacta.com:81/API/api/Email" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="BinGroup" address="http://demouy.hexacta.com:81/API/api/BinGroup" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Bank" address="http://demouy.hexacta.com:81/API/api/Bank" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="LifApiBill" address="http://demouy.hexacta.com:81/API/api/LifApiBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationVNP" address="http://demouy.hexacta.com:81/API/api/ConciliationVNP" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="Interpreter" address="http://demouy.hexacta.com:81/API/api/Interpreter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ServiceValidator" address="http://demouy.hexacta.com:81/API/api/ServiceValidator" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="DebitCommerce" address="http://demouy.hexacta.com:81/API/api/DebitCommerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="AffiliationCard" address="http://demouy.hexacta.com:81/API/api/AffiliationCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="ConciliationVisaNetTc33" address="http://demouy.hexacta.com:81/API/api/ConciliationVisaNetTc33" xdt:Transform="Replace" xdt:Locator="Match(name)" />

      <add name="CustomerSiteCommerce" address="http://demouy.hexacta.com:81/CustomerSiteApi/api/Commerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CustomerSiteBranch" address="http://demouy.hexacta.com:81/CustomerSiteApi/api/Commerce" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="CustomerSiteSystemUser" address="http://demouy.hexacta.com:81/CustomerSiteApi/api/SystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="ExcelResponseType" value="application/vnd.ms-excel" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SharedImagesFolderVD" value="http://demouy.hexacta.com:81/Imagenes/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SharedImagesFolder" value="C:\inetpub\wwwroot\VisaNet\2_Testing\Web\Imagenes" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Tc33Path" value="C:\inetpub\wwwroot\VisaNet\2_Testing\Web\ProcessesAndFiles\Tc33" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Tc33PathOut" value="C:\inetpub\wwwroot\VisaNet\2_Testing\Web\ProcessesAndFiles\Tc33\Processed" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HighwayFile" value="C:\inetpub\wwwroot\VisaNet\2_Testing\ProcessesAndFiles\Highway" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TransReports" value="C:\inetpub\wwwroot\VisaNet\2_Testing\ProcessesAndFiles\TransactionsReports" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ManualSynchronizationFolder" value="C:\inetpub\wwwroot\VisaNet\2_Testing\ProcessesAndFiles\ManualSynchronization" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="URLCallBackCyberSource" value="https://demouy.hexacta.com:441/Admin/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AppUserForTest" value="visanetpagos@hexacta.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- SFTP configuration -->
    <add key="HBSshPrivateKeyPath" value="E:\Apps_Web\VisanetPagos\Certificados" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshPrivateKeyName" value="App_VisanetPagos_SFTP.ppk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPUserName" value="BACO\App_VisanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPassword" value="Server2015Iuk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPHostName" value="192.168.104.174" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPortNumber" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshHostKeyFingerprint" value="ssh-rsa 2048 07:b0:c3:ca:66:44:f9:49:ff:80:c9:f9:a1:a6:67:2b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPLogPath" value="~/Logs/SFTPLogs.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="InterpreterFilePath" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="InterpreterContainerName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- AZURE -->
    <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=vnptesting;AccountKey=6NV3MA2+gTgMOb0K6euf0zQW8kcnKyesqGmiVSF/pSeGK+7630va6rT57A1sn2q1Md+QLzlM83gNTBacF+2HBA==;" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="CountriesIsoList" value="CountriesIsoList.json" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- System Versions Urls -->
    <add key="UrlWebVersion" value="https://demouy.hexacta.com:441/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlVonRegisterVersion" value="https://demouy.hexacta.com:441/VonRegister/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlVisaNetOnVersion" value="https://demouy.hexacta.com:441/VisaNetOn/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlCustomerSiteVersion" value="https://demouy.hexacta.com:441/CustomerSiteWeb/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlLifPublicApiVersion" value="https://demouy.hexacta.com:441/Lif/Version/GetVersion" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlNotificationPublicApiVersion" value="https://demouy.hexacta.com:441/PublicApi/api/Version/Get" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Testing/Admin" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>