<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="TestThumbprint" value="3B4D89047F1FABBD8B6D93BAEEC14F68B7779AA9" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TestingUrlCallback" value="https://requestb.in/126wy971" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TestingAppId" value="pedidosyalocal" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TestingMerchantId" value="visanetuy46" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BaseUrlVisaNetOn" value="https://demouy.hexacta.com:446/VisaNetOn/" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Development/TestingVisaNetOn" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>