<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="TestThumbprint" value="3B4D89047F1FABBD8B6D93BAEEC14F68B7779AA9" />
    <add key="TestingEmail" value="sherrera@hexacta.com" />
    <add key="TestingUrlCallback" value="http://requestbin.fullcontact.com/12oewpt1" />
    <add key="TestingAppId" value="pedidosyalocal" />
    <add key="TestingMerchantId" value="visanetuy26" />

    <add key="BaseUrlVisaNetOn" value="http://localhost:56734/" />
    <!--<add key="BaseUrlVisaNetOn" value="https://staging-visaneton.vnet.uy/" />-->
    <!--<add key="BaseUrlVisaNetOn" value="https://demouy.hexacta.com:441/VisaNetOn/" />-->

    <add key="DobuleIframeUrlPaymentWithUser" value="https://demouy.hexacta.com:441/TestingVisaNetOn/Test/PaginaTestPago" />
    <add key="DobuleIframeUrlPaymentNewUser" value="https://demouy.hexacta.com:441/TestingVisaNetOn/Test/PaginaTestPagoSinUsuario" />
    <add key="DobuleIframeUrlTokenWithUser" value="https://demouy.hexacta.com:441/TestingVisaNetOn/Test/PaginaTestTokenIframe" />
    <add key="DobuleIframeUrlTokenNewUser" value="https://demouy.hexacta.com:441/TestingVisaNetOn/Test/PaginaTestTokenSinUsuarioIframe" />


    <!-- PARA PROBAR PRODUCCION -->
    <!--<add key="TestThumbprint" value="‎4f4ff01ec4d7f16616c3d907b639f9b776df84b9" />
    <add key="TestingEmail" value="sherrera@hexacta.com" />
    <add key="TestingUrlCallback" value="https://requestb.in/1lrbdlz1" />
    <add key="TestingAppId" value="vnp" />
    <add key="TestingMerchantId" value="visanetuy_200004301" />
    <add key="BaseUrlVisaNetOn" value="https://von.vnet.uy/" />-->


    <!-- Graylog -->
    <add key="GraylogApiUri" value="" />
    <add key="GraylogEnvironment" value="Local/TestingVisaNetOn" />
    <add key="GraylogVersion" value="1.1" />
    <add key="GraylogEnabledSaveSecundary" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>