<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebFaq" address="http://demouy.hexacta.com:86/API/api/WebFaq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPage" address="http://demouy.hexacta.com:86/API/api/WebPage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSubscriber" address="http://demouy.hexacta.com:86/API/api/WebSubscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebContact" address="http://demouy.hexacta.com:86/API/api/WebContact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="http://demouy.hexacta.com:86/API/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="http://demouy.hexacta.com:86/API/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPayment" address="http://demouy.hexacta.com:86/API/api/WebPayment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="http://demouy.hexacta.com:86/API/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="http://demouy.hexacta.com:86/API/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="http://demouy.hexacta.com:86/API/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebGateway" address="http://demouy.hexacta.com:86/API/api/WebGateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAutoComplete" address="http://demouy.hexacta.com:86/API/api/WebAutoComplete" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebNotification" address="http://demouy.hexacta.com:86/API/api/WebNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="http://demouy.hexacta.com:86/API/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSystemUser" address="http://demouy.hexacta.com:86/API/api/WebSystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLog" address="http://demouy.hexacta.com:86/API/api/WebLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="http://demouy.hexacta.com:86/API/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="http://demouy.hexacta.com:86/API/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="http://demouy.hexacta.com:86/API/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebQuotation" address="http://demouy.hexacta.com:86/API/api/WebQuotation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPromotion" address="http://demouy.hexacta.com:86/API/api/WebPromotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHomePage" address="http://demouy.hexacta.com:86/API/api/WebHomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="http://demouy.hexacta.com:86/API/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLocation" address="http://demouy.hexacta.com:86/API/api/WebLocation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://demouy.hexacta.com:86/API/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookLog" address="http://demouy.hexacta.com:86/API/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="http://demouy.hexacta.com:86/API/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebReport" address="http://demouy.hexacta.com:86/API/api/WebReport" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="http://demouy.hexacta.com:86/API/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebFixedNotification" address="http://demouy.hexacta.com:86/API/api/WebFixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://demouy.hexacta.com:446/VONRegister/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableDomains" value="demouy.hexacta.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://h.online-metrix.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsEnvironment" value="test" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Development/VonRegister" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>