<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebFaq" address="http://namba.visanet.com.uy:62652/api/WebFaq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPage" address="http://namba.visanet.com.uy:62652/api/WebPage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSubscriber" address="http://namba.visanet.com.uy:62652/api/WebSubscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebContact" address="http://namba.visanet.com.uy:62652/api/WebContact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="http://namba.visanet.com.uy:62652/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="http://namba.visanet.com.uy:62652/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPayment" address="http://namba.visanet.com.uy:62652/api/WebPayment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="http://namba.visanet.com.uy:62652/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="http://namba.visanet.com.uy:62652/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="http://namba.visanet.com.uy:62652/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebGateway" address="http://namba.visanet.com.uy:62652/api/WebGateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAutoComplete" address="http://namba.visanet.com.uy:62652/api/WebAutoComplete" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebNotification" address="http://namba.visanet.com.uy:62652/api/WebNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="http://namba.visanet.com.uy:62652/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSystemUser" address="http://namba.visanet.com.uy:62652/api/WebSystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLog" address="http://namba.visanet.com.uy:62652/api/WebLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="http://namba.visanet.com.uy:62652/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="http://namba.visanet.com.uy:62652/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="http://namba.visanet.com.uy:62652/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebQuotation" address="http://namba.visanet.com.uy:62652/api/WebQuotation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPromotion" address="http://namba.visanet.com.uy:62652/api/WebPromotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHomePage" address="http://namba.visanet.com.uy:62652/api/WebHomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="http://namba.visanet.com.uy:62652/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLocation" address="http://namba.visanet.com.uy:62652/api/WebLocation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://namba.visanet.com.uy:62652/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookLog" address="http://namba.visanet.com.uy:62652/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="http://namba.visanet.com.uy:62652/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebReport" address="http://namba.visanet.com.uy:62652/api/WebReport" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="http://namba.visanet.com.uy:62652/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebFixedNotification" address="http://namba.visanet.com.uy:62652/api/WebFixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="CybersourceFormUrl" value="https://secureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://registro.vnet.uy/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableDomains" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://www.visanetpagos.com.uy/Pay/Pay/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsEnvironment" value="live" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.9:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="VisaNet/VonRegister" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>