<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebFaq" address="https://staging-api.vnet.uy/api/WebFaq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPage" address="https://staging-api.vnet.uy/api/WebPage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSubscriber" address="https://staging-api.vnet.uy/api/WebSubscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebContact" address="https://staging-api.vnet.uy/api/WebContact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="https://staging-api.vnet.uy/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="https://staging-api.vnet.uy/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPayment" address="https://staging-api.vnet.uy/api/WebPayment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="https://staging-api.vnet.uy/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="https://staging-api.vnet.uy/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="https://staging-api.vnet.uy/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebGateway" address="https://staging-api.vnet.uy/api/WebGateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAutoComplete" address="https://staging-api.vnet.uy/api/WebAutoComplete" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebNotification" address="https://staging-api.vnet.uy/api/WebNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="https://staging-api.vnet.uy/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSystemUser" address="https://staging-api.vnet.uy/api/WebSystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLog" address="https://staging-api.vnet.uy/api/WebLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="https://staging-api.vnet.uy/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="https://staging-api.vnet.uy/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="https://staging-api.vnet.uy/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebQuotation" address="https://staging-api.vnet.uy/api/WebQuotation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPromotion" address="https://staging-api.vnet.uy/api/WebPromotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHomePage" address="https://staging-api.vnet.uy/api/WebHomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="https://staging-api.vnet.uy/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLocation" address="https://staging-api.vnet.uy/api/WebLocation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="https://staging-api.vnet.uy/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookLog" address="https://staging-api.vnet.uy/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="https://staging-api.vnet.uy/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebReport" address="https://staging-api.vnet.uy/api/WebReport" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="https://staging-api.vnet.uy/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebFixedNotification" address="https://staging-api.vnet.uy/api/WebFixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://staging-vonregister.vnet.uy/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableDomains" value="demouy.hexacta.com;vnet.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://staging-web.vnet.uy/Pay/Pay" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsEnvironment" value="test" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.4:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Staging/VonRegister" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>