<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebServiceExternalApp" address="http://demouy.hexacta.com:86/API/api/WebServiceExternalApp" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="http://demouy.hexacta.com:86/API/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Development/IntegrationWebService" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <!-- HAY QUE AGREGAR TRANSFORMS QUE SOLO PERMITAN HTTPS ETC. -->

</configuration>