<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings>
    <add name="AppContext" connectionString="Server=tcp:sql-vnp-test.database.windows.net,1433;Initial Catalog=VisaNetPagos.Staging;Persist Security Info=False;User ID=vnp_test;Password=23Kasd21!SDF!a;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TrackerContext" connectionString="Server=tcp:sql-vnp-test.database.windows.net,1433;Initial Catalog=VisaNetPagos.Staging;Persist Security Info=False;User ID=vnp_test;Password=23Kasd21!SDF!a;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="MailgunApiKey" value="key-4cf863b9a8d37b07314f9054fc0e0cd1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunDomain" value="hexacta.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunUri" value="https://api.mailgun.net/v3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRedirectUrl" value="https://staging-web.vnet.uy/highway/savefile" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunNotificationsMail" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeaderPath" value="https://vnptesting.blob.core.windows.net/images/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunTemplates" value="C:\inetpub\wwwroot\visanet-staging\core-api\Templates\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunHighwayRecipientEmail" value="vnp-envios@visanetpagos.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRecipientEmail" value="no-reply@visanet.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="BaseUrl" value="https://staging-web.vnet.uy/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DefaultBin" value="999998" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedirectEmailToTesting" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CardTypesForQuotas" value="Credit" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.4:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Staging/APILIF-Privada" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>