<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings>
    <add name="AppContext" connectionString="Data Source=hxv-demouysql.hexacta.com;Initial Catalog=VisaNetPagos.Production;USER=VisaNetLif;PASSWORD=H3x4ct4.2016; MultipleActiveResultSets=true; Timeout=0" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TrackerContext" connectionString="Data Source=hxv-demouysql.hexacta.com;Initial Catalog=VisaNetPagos.Production;USER=VisaNetLif;PASSWORD=H3x4ct4.2016; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="MailgunApiKey" value="key-4cf863b9a8d37b07314f9054fc0e0cd1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunDomain" value="hexacta.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunUri" value="https://api.mailgun.net/v3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRedirectUrl" value="https://demouy.hexacta.com/VisaNetPagosWeb/highway/savefile" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunNotificationsMail" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeaderPath" value="https://vnptesting.blob.core.windows.net/images/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunTemplates" value="C:\inetpub\wwwroot\VisaNet\5_Production\Web\API\Templates\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunHighwayRecipientEmail" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRecipientEmail" value="no-reply@visanet.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="BaseUrl" value="https://demouy.hexacta.com:448/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DefaultBin" value="999998" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedirectEmailToTesting" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CardTypesForQuotas" value="Credit" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Production/APILIF-Privada" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>