<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings>
    <add name="AppContext" connectionString="Data Source=pandora.visanet.com.uy;Initial Catalog=VisanetPagosLive;USER=app_visanetlif;PASSWORD=erufl.pwek3.97;Connection Timeout=120; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="TrackerContext" connectionString="Data Source=pandora.visanet.com.uy;Initial Catalog=VisanetPagosLive;USER=app_visanetlif;PASSWORD=erufl.pwek3.97; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="MailgunApiKey" value="key-05451381711ae3f28fd7f9033a51cc84" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunDomain" value="visanet.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunUri" value="https://api.mailgun.net/v3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRedirectUrl" value="https://www.visanetpagos.com.uy/highway/savefile" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunNotificationsMail" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HeaderPath" value="https://portalwebvnp.blob.core.windows.net/img/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunTemplates" value="E:\Apps_Web\VisanetPagos\VisaNetPagosApi\Templates\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunHighwayRecipientEmail" value="vnp-envios@visanetpagos.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunRecipientEmail" value="no-reply@visanet.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="BaseUrl" value="https://www.visanetpagos.com.uy/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DefaultBin" value="999998" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RedirectEmailToTesting" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="CardTypesForQuotas" value="Credit" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.9:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="VisaNet/APILIF-Privada" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>