<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebWebhookLog" address="http://demouy.hexacta.com:81/API/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookRegistration" address="http://demouy.hexacta.com:81/API/api/WebWebhookRegistration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="http://demouy.hexacta.com:81/API/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="http://demouy.hexacta.com:81/API/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="http://demouy.hexacta.com:81/API/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="http://demouy.hexacta.com:81/API/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="http://demouy.hexacta.com:81/API/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="http://demouy.hexacta.com:81/API/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="http://demouy.hexacta.com:81/API/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebVisaNetOnIntegration" address="http://demouy.hexacta.com:81/API/api/WebVisaNetOnIntegration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="http://demouy.hexacta.com:81/API/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="http://demouy.hexacta.com:81/API/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="http://demouy.hexacta.com:81/API/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="http://demouy.hexacta.com:81/API/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://demouy.hexacta.com:441/VisaNetOn/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsEnvironment" value="test" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://h.online-metrix.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CardTypesForQuotas" value="Credit" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableDomains" value="demouy.hexacta.com:441;demouy.hexacta.com:446;demouy.hexacta.com:448;vnet.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- PAGO LINK-->
    <add key="CustomerSiteEmailDomainForFinalCustomers" value="@pagolink.com.uy" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Testing/VisaNetOn" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>