<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="AppCulture" value="es-UY" />
    <!--<add key="CertificatePath" value="C:\Users\gvarini.HEXACTA\Desktop\VNP_certificates_apps\v2\VisaNetPagosTestCertificateApps2.pfx" />-->
    <add key="CertificatePath" value="C:\Users\sherrera\Desktop\VisaNet\02. Certificados\VNP_certificates_apps\v2\VisaNetPagosTestCertificateApps2.pfx" />
    <add key="CertificatePassword" value="VisaNetPagosApps2017" />

    <add key="CobroOnlineJson" value="CobroOnline.json" />
    <add key="CancelacionJson" value="AnularFactura.json" />
    <add key="ConsultaServiciosJson" value="ConsultaServicios.json" />
    <add key="ConsultaFacturasJson" value="ConsultaFacturas.json" />
    <add key="BajaServicioJson" value="BajaServicio.json" />
    <add key="ConsultaUrlTransaction" value="ConsultaUrlTransaction.json" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVNPAccess1" />
        <binding name="BasicHttpBinding_IVNPAccess3">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess2">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess4">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess5">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess6">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess7">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess8">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess9">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess10">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVNPAccess12">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:23560/VNPAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVNPAccess1" contract="Localhost.IVNPAccess"
        name="BasicHttpBinding_IVNPAccess1" />
      <endpoint address="https://demouy.hexacta.com:441/TestWCF/v03.00.00/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess3"
        contract="Demouy_Testing_v03.IVNPAccess" name="BasicHttpBinding_IVNPAccess3" />
      <endpoint address="https://demouy.hexacta.com:446/TestWCF/v03.00.00/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess2"
        contract="Demouy_Development_v03.IVNPAccess" name="BasicHttpBinding_IVNPAccess2" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/v03.00.00/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess4"
        contract="Demouy_Production_v03.IVNPAccess" name="BasicHttpBinding_IVNPAccess4" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess5"
        contract="Demouy_Production_v02.IVNPAccess" name="BasicHttpBinding_IVNPAccess5" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/v02.02.10/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess"
        contract="Demouy_Production_v020210.IVNPAccess" name="BasicHttpBinding_IVNPAccess" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/v02.02.11/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess6"
        contract="Demouy_Production_v020211.IVNPAccess" name="BasicHttpBinding_IVNPAccess6" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/v02.03.02/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess7"
        contract="Demouy_Production_v020302.IVNPAccess" name="BasicHttpBinding_IVNPAccess7" />
      <endpoint address="https://api-von.vnet.uy/VNPAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVNPAccess8" contract="Azure_VisaNet_v03.IVNPAccess"
        name="BasicHttpBinding_IVNPAccess8" />
      <endpoint address="https://demouy.hexacta.com:446/TestWCF/v03.00.06/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess9"
        contract="Demouy_Development_v05.IVNPAccess" name="BasicHttpBinding_IVNPAccess9" />
      <endpoint address="https://demouy.hexacta.com:448/TestWCF/v05/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess10"
        contract="Demouy_Production_v05.IVNPAccess" name="BasicHttpBinding_IVNPAccess10" />
      <endpoint address="https://demouy.hexacta.com:446/TestWCF/v05/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess9"
        contract="Demouy_Development_v05.IVNPAccess" name="BasicHttpBinding_IVNPAccess9" />
      <endpoint address="https://api-vnp-2.vnet.uy/v020211/VNPAccess.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess11"
        contract="Azure_VisaNet_v020211.IVNPAccess" name="BasicHttpBinding_IVNPAccess11" />
      <endpoint address="https://api-von.vnet.uy/v030006/VNPAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVNPAccess12"
                contract="Azure_VisaNet_v030006.IVNPAccess" name="BasicHttpBinding_IVNPAccess12" />

    </client>
  </system.serviceModel>

</configuration>