@using System.Configuration
@model VisaNet.Presentation.Web.Models.PromotionModel

<div id="lbPromotion" class="modal promotionLightbox">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-content">
            <div class="promotionImage">
                <img src="@Model.ImageUrl" />
            </div>
        </div>
    </div>
</div>