@model bool


@if (Model)
{
   
    <div class="container">
        <div class="greenRegistrationBox"><h4><i class="icon-ok"></i>Confirmación realizada con éxito</h4></div>
    </div>
  
}
else
{

    <div class="container">
        <div class="errorRegistrationBox"><h4><i class="icon-remove"></i>Confirmación no válida</h4></div>
    </div>

}
