@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "VisaNetPagos API LIF";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introducci&oacute;n</h2>
            <p>
                Debajo se encuentra la documentaci&oacute;n necesaria para invocar la API LIF (Ley de inclusi&oacute;n financiera)
            </p>
            <hr />
            <p>
                Para <strong>toda invocaci&oacute;n</strong> ser&aacute; necesario agregar un header al request de la siguiente manera:
            </p>
            <p>
                nombre: <strong>Signature</strong>
            </p>
            <p>
                valor: <strong>Campos firmados*</strong>
            </p>
            <p>
                * En la secci&oacute;n <a href="@Url.Action("Security", "Help", new { area = "" }, null)">Seguridad</a> se detalle el proceso a seguir para generar la firma correctamente
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
