@model VisaNet.Presentation.VisaNetOn.Models.ConfirmationErrorModel
@{
    ViewBag.Title = "Index";
}

<div class="error-wrapper">
    <span class="error-title">@Model.ErrorTitle</span>
    <span class="error-cta">@Model.ErrorDesc</span>
</div>