<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="InProc" timeout="5" xdt:Transform="Replace" xdt:Locator="Match(mode)" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="5" slidingExpiration="true" xdt:Transform="Replace" xdt:Locator="Match(loginUrl)" />
    </authentication>
  </system.web>

  <webapiservices>
    <client>
      <add name="WebFaq" address="http://demouy.hexacta.com:81/API/api/WebFaq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPage" address="http://demouy.hexacta.com:81/API/api/WebPage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSubscriber" address="http://demouy.hexacta.com:81/API/api/WebSubscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebContact" address="http://demouy.hexacta.com:81/API/api/WebContact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="http://demouy.hexacta.com:81/API/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="http://demouy.hexacta.com:81/API/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPayment" address="http://demouy.hexacta.com:81/API/api/WebPayment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="http://demouy.hexacta.com:81/API/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="http://demouy.hexacta.com:81/API/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="http://demouy.hexacta.com:81/API/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebGateway" address="http://demouy.hexacta.com:81/API/api/WebGateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAutoComplete" address="http://demouy.hexacta.com:81/API/api/WebAutoComplete" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebNotification" address="http://demouy.hexacta.com:81/API/api/WebNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="http://demouy.hexacta.com:81/API/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSystemUser" address="http://demouy.hexacta.com:81/API/api/WebSystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLog" address="http://demouy.hexacta.com:81/API/api/WebLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="http://demouy.hexacta.com:81/API/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="http://demouy.hexacta.com:81/API/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="http://demouy.hexacta.com:81/API/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebQuotation" address="http://demouy.hexacta.com:81/API/api/WebQuotation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPromotion" address="http://demouy.hexacta.com:81/API/api/WebPromotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHomePage" address="http://demouy.hexacta.com:81/API/api/WebHomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="http://demouy.hexacta.com:81/API/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLocation" address="http://demouy.hexacta.com:81/API/api/WebLocation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://demouy.hexacta.com:81/API/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookLog" address="http://demouy.hexacta.com:81/API/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="http://demouy.hexacta.com:81/API/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebReport" address="http://demouy.hexacta.com:81/API/api/WebReport" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="http://demouy.hexacta.com:81/API/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebFixedNotification" address="http://demouy.hexacta.com:81/API/api/WebFixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDebit" address="http://demouy.hexacta.com:81/API/api/WebDebit" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebVisaNetOnIntegration" address="http://demouy.hexacta.com:81/API/api/WebVisaNetOnIntegration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="SharedImagesFolderVD" value="http://demouy.hexacta.com:81/Imagenes/Front/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaSecretKey" value="6LcDGv4SAAAAAPObiCUcpYmpmFGThRi7v6cuIK5B" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaPublicKey" value="6LcDGv4SAAAAAMUkuT9QJAgJwVPpeb3Rbjc9f34F" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunApiKey" value="key-4cf863b9a8d37b07314f9054fc0e0cd1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--Separar por pipe '|' la lista -->
    <add key="UseProxyForTheseUrls" value="https://www.google.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ProxyServer" value="http://tenacita.visanet.com.uy:8080" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyUserName" value="App_visanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyPassword" value="Hnf.j7s9X" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseProxyDomain" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyDomain" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- SFTP configuration -->
    <add key="HBSshPrivateKeyPath" value="E:\VisaNetPagos\certificados\bacoSftp" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshPrivateKeyName" value="App_VisanetPagos_SFTP.ppk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPUserName" value="BACO\App_VisanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPassword" value="Server2015Iuk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPHostName" value="192.168.104.174" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPortNumber" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshHostKeyFingerprint" value="ssh-rsa 2048 07:b0:c3:ca:66:44:f9:49:ff:80:c9:f9:a1:a6:67:2b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPLogPath" value="~/Logs/SFTPLogs.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="CsEnvironment" value="test" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CybersourceFormUrl" value="https://testsecureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://demouy.hexacta.com:441/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://h.online-metrix.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GoogleAnalyticsKey" value="UA-63155096-2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HighwayFile" value="E:\VisaNetPagos\HighwayFiles" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IpForCallCenter" value="10.130.1.11;10.130.1.12;10.140.150.53" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ShowAppAd" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Graylog -->
    <add key="GraylogApiUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="Testing/Web" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--SUCIVE ANNUAL-->
    <add key="SuciveServiceAnnualIdApp" value="sucivemontevideo" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SuciveServiceAnnualLastDayJanuaryInclusive" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <location>
    <system.webServer>
      <httpProtocol xdt:Transform="Insert" >
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Strict-Transport-Security" value="max-age=315360000" />
          <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' *.online-metrix.net; script-src 'self' 'unsafe-eval' 'unsafe-inline' *.google.com *.gstatic.com *.google-analytics.com *.online-metrix.net; frame-src 'self' https://www.google.com/ *.online-metrix.net;  img-src 'self' 'unsafe-inline' filesystem *.blob.core.windows.net *.google-analytics.com *.visanetpagos.com.uy visanetpagos.com.uy data: *.online-metrix.net; font-src 'self' data: ;" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

</configuration>