<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="InProc" timeout="5" xdt:Transform="Replace" xdt:Locator="Match(mode)" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="5" slidingExpiration="true" xdt:Transform="Replace" xdt:Locator="Match(loginUrl)" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="Insert" />
  </system.web>

  <webapiservices>
    <client>
      <add name="WebFaq" address="http://namba.visanet.com.uy:62652/api/WebFaq" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPage" address="http://namba.visanet.com.uy:62652/api/WebPage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSubscriber" address="http://namba.visanet.com.uy:62652/api/WebSubscriber" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebContact" address="http://namba.visanet.com.uy:62652/api/WebContact" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebRegisterUser" address="http://namba.visanet.com.uy:62652/api/WebRegisterUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebApplicationUser" address="http://namba.visanet.com.uy:62652/api/WebApplicationUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPayment" address="http://namba.visanet.com.uy:62652/api/WebPayment" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebService" address="http://namba.visanet.com.uy:62652/api/WebService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBill" address="http://namba.visanet.com.uy:62652/api/WebBill" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceAssosiate" address="http://namba.visanet.com.uy:62652/api/WebServiceAssosiate" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebGateway" address="http://namba.visanet.com.uy:62652/api/WebGateway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAutoComplete" address="http://namba.visanet.com.uy:62652/api/WebAutoComplete" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebNotification" address="http://namba.visanet.com.uy:62652/api/WebNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCard" address="http://namba.visanet.com.uy:62652/api/WebCard" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebSystemUser" address="http://namba.visanet.com.uy:62652/api/WebSystemUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLog" address="http://namba.visanet.com.uy:62652/api/WebLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebAnonymousUser" address="http://namba.visanet.com.uy:62652/api/WebAnonymousUser" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebBin" address="http://namba.visanet.com.uy:62652/api/WebBin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDiscount" address="http://namba.visanet.com.uy:62652/api/WebDiscount" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebQuotation" address="http://namba.visanet.com.uy:62652/api/WebQuotation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebPromotion" address="http://namba.visanet.com.uy:62652/api/WebPromotion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHomePage" address="http://namba.visanet.com.uy:62652/api/WebHomePage" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebParameter" address="http://namba.visanet.com.uy:62652/api/WebParameter" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebLocation" address="http://namba.visanet.com.uy:62652/api/WebLocation" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebHighway" address="http://namba.visanet.com.uy:62652/api/WebHighway" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebWebhookLog" address="http://namba.visanet.com.uy:62652/api/WebWebhookLog" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebServiceExternal" address="http://namba.visanet.com.uy:62652/api/WebServiceExternal" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebReport" address="http://namba.visanet.com.uy:62652/api/WebReport" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebCyberSourceAccess" address="http://namba.visanet.com.uy:62652/api/WebCyberSourceAccess" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebFixedNotification" address="http://namba.visanet.com.uy:62652/api/WebFixedNotification" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebDebit" address="http://namba.visanet.com.uy:62652/api/WebDebit" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <add name="WebVisaNetOnIntegration" address="http://namba.visanet.com.uy:62652/api/WebVisaNetOnIntegration" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </webapiservices>

  <appSettings>
    <add key="SharedImagesFolderVD" value="https://portalwebvnp.blob.core.windows.net/img/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaSecretKey" value="6LfORv4SAAAAAOIc--z8it7b9MNc_k8KceNl8qAg" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaPublicKey" value="6LfORv4SAAAAAGRLEcXD9LBaDsBFmSwSftB7iwxI" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RecaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MailgunApiKey" value="key-05451381711ae3f28fd7f9033a51cc84" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SistarbancAmountDif" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--Separar por pipe '|' la lista -->
    <add key="UseProxyForTheseUrls" value="/recaptcha/api/siteverify" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ProxyServer" value="http://tenacita.visanet.com.uy:8080" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyUserName" value="App_visanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyPassword" value="Hnf.j7s9X" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseProxyDomain" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProxyDomain" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- SFTP configuration -->
    <add key="HBSshPrivateKeyPath" value="E:\VisaNetPagos\certificados\bacoSftp" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshPrivateKeyName" value="App_VisanetPagos_SFTP.ppk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPUserName" value="BACO\App_VisanetPagos" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPassword" value="Server2015Iuk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPHostName" value="192.168.104.174" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPPortNumber" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSshHostKeyFingerprint" value="ssh-rsa 2048 07:b0:c3:ca:66:44:f9:49:ff:80:c9:f9:a1:a6:67:2b" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HBSFTPLogPath" value="E:\VisaNetPagos\VisanetPagosWeb\Logs\SFTPLogs.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="CsEnvironment" value="live" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CybersourceFormUrl" value="https://secureacceptance.cybersource.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLCallBackCyberSource" value="https://www.visanetpagos.com.uy/PaymentHandler" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CsFingerprintRedirectUrl" value="https://www.visanetpagos.com.uy/Pay/Pay/" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="GoogleAnalyticsKey" value="UA-63155096-1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HighwayFile" value="E:\VisaNetPagos\HighwayFiles" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IpForCallCenter" value="192.168.104.190;192.168.224.3;201.217.136.138;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ShowAppAd" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />



    <!-- Graylog -->
    <add key="GraylogApiUri" value="http://10.168.114.9:12201/gelf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogEnvironment" value="VisaNet/Web" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GraylogVersion" value="1.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--SUCIVE ANNUAL-->
    <add key="SuciveServiceAnnualIdApp" value="sucive" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SuciveServiceAnnualLastDayJanuaryInclusive" value="22" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="DefaultServiceImage" value="https://portalwebvnp.blob.core.windows.net/img/icon_calendar.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <location>
    <system.webServer>
      <httpProtocol xdt:Transform="Insert" >
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Strict-Transport-Security" value="max-age=315360000" />
          <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' visanetpagos.com.uy *.visanetpagos.com.uy *.online-metrix.net; script-src 'self' 'unsafe-eval' 'unsafe-inline' *.google.com *.gstatic.com *.google-analytics.com visanetpagos.com.uy *.visanetpagos.com.uy *.online-metrix.net; frame-src 'self' https://www.google.com/ visanetpagos.com.uy *.visanetpagos.com.uy *.online-metrix.net; img-src 'self' 'unsafe-inline' *.google-analytics.com *.blob.core.windows.net blob filesystem visanetpagos.com.uy *.visanetpagos.com.uy data: *.online-metrix.net; font-src 'self' visanetpagos.com.uy *.visanetpagos.com.uy data: ;" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false" xdt:Transform="Insert" >
      <module type="VisaNet.Utilities.CustomProxy.CustomWebProxy, VisaNet.Utilities.CustomProxy" />
    </defaultProxy>
  </system.net>

</configuration>