<span class="title-form hidden-xs">Datos de la tarjeta</span>
<div class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
        <input type="text" placeholder="Nombre de titular de la tarjeta" name="card_holder_name" id="card_holder_name" data-val-required required autocomplete="off" />
        <i class="fa icon fa-user-o"></i>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
        <input type="tel" placeholder="Número de la tarjeta" name="card_number" id="card_number" maxlength="16" data-val-required required autocomplete="off" />
        <i class="fa icon fa-credit-card"></i>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 column">
        @Html.DropDownList("month", Enumerable.Range(1, 12).Select(i => new SelectListItem { Text = i.ToString("00"), Value = i.ToString("00") }), new { @Style = "width: 100%"})
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 column">
        @Html.DropDownList("year", new SelectList(Enumerable.Range(DateTime.Now.Year, 25)), new { @Style = "width: 100%"})
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 column">
        <input type="password" placeholder="CVN" name="card_cvn" id="card_cvn" maxlength="4" data-val-required required />
        <a class="help" data-toggle="tooltip" data-placement="top" title="El código de seguridad está en el dorso de tu tarjeta.">
            <img src="~/images/help.jpg">
        </a>
    </div>
    <input type="hidden" name="card_type" id="card_type" value="001" />
    <input type="hidden" name="card_expiry_date" id="card_expiry_date" value="" />
</div>