<div>
    <span class="login-switch">
        <label>Tengo cuenta en VisaNetPagos </label>
            <label class="switch">
                <input type="checkbox" data-toggle="modal" data-target="#logInModal" id="mobileLogIn">
                <div class="slider round"></div>
            </label>
    </span>
    <hr>
</div>