<div class="error-wrapper">
    <span class="error-title">Se ha producido un error.</span>
    <span class="error-cta">La operación no pudo ser llevada a cabo.</span>
    <span class="error-text">Volvé a intentarlo en unos minutos. En caso de no poder realizar la operación comunicate con VisaNet.</span>
</div>