<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVisaNetAccess" />
                <binding name="BasicHttpBinding_IVisaNetAccess1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVisaNetAccess2">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVisaNetAccess3">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:46736/VisaNetAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisaNetAccess"
                contract="Locahost.IVisaNetAccess" name="BasicHttpBinding_IVisaNetAccess" />
            <endpoint address="https://demouy.hexacta.com:441/BankingWcf/VisaNetAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisaNetAccess1"
                contract="Demouy441.IVisaNetAccess" name="BasicHttpBinding_IVisaNetAccess1" />
            <endpoint address="https://demouy.hexacta.com:441/BankingWcfOld/VisaNetAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisaNetAccess2"
                contract="Demouy441Old.IVisaNetAccess" name="BasicHttpBinding_IVisaNetAccess2" />
            <endpoint address="https://demouy.hexacta.com:448/BankingWCF/VisaNetAccess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisaNetAccess3"
                contract="Demouy448.IVisaNetAccess" name="BasicHttpBinding_IVisaNetAccess3" />
        </client>
    </system.serviceModel>
</configuration>