<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VISA</title>
</head>

<body style="background:#e6eced">
    <table width="800" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background:#ffffff; border: 1px solid #dadada">
        <tr>
            <td><img style="right: 0; height: 56px;" src="{HeaderPath}header.png" alt="VISA" /></td>
        </tr>
        <tr>
            <td style="padding-top: 60px;padding-left: 36px;padding-right: 36px;padding-bottom: 5px;font-family: arial;color: #4f9bc9;font-size: 18px;">Nuevo pago @Model.ServiceName</td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">Hemos recibido un nuevo pago de su parte. Adjuntamos una copia del comprobante de pago.</td>
        </tr>
        <tr>
            <td>
                <hr style="width: 91%;" />
            </td>
        </tr>
        <tr>
            <td style="padding-top: 30px;padding-left: 36px;padding-right: 36px;padding-bottom: 5px;font-family: arial;color: #4f9bc9;font-size: 18px;">Con Visa, pagar tus facturas nunca fue tan fácil</td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">
                Ahora puedes descargar nuestra app en tu celular y pagar tus cuentas las 24 horas, los 365 días del año, estés donde estés.
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">
                <a href="https://itunes.apple.com/dm/app/visanetpagos/id1173540628?mt=8">
                    <img border="0" height="50" src="https://www.visanetpagos.com.uy/VisaNetPagosImages/appstore.png" width="135" alt="iTunes" />
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.visanetpagos.app">
                    <img border="0" height="48" src="https://www.visanetpagos.com.uy/VisaNetPagosImages/GooglePlay.png" alt="GooglePlay" width="127" />
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom: 60px;font-family: arial;color: #858585;font-size: 14px; font-style:italic">
                Gracias por utilizar nuestros servicios.<br /> El equipo de VisaNet Uruguay
            </td>
        </tr>
        <tr>
            <td style="background:#75787b; padding-top:10px; padding-left:36px; padding-bottom:10px; padding-right:36px; color:#dadada; font-family:Arial, Helvetica, sans-serif; font-size:12px">Visa portal de pagos © 2014. Todos los derechos reservados.</td>
        </tr>
    </table>
</body>

</html>