
<div id="loaderFullScreen" class="loaderBack" style="display:none;">
    <div class="loaderInformation">
        <span><img src="@Url.Content("~/Content/images/loaderFullScreen.GIF")" width="30" height="30" /></span>
        <h4 id="loaderMessage"></h4>
    </div>
</div>

