@model VisaNet.Presentation.Administration.Models.SystemVersionsModel

<h4>APIs Privadas</h4>

<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th class="col-md-2">
                            API Core
                        </th>
                        <th class="col-md-2">
                            API LIF
                        </th>
                        <th class="col-md-2">
                            API Portal de Comercios
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.CoreApiVersion
                        </td>
                        <td>
                            @Model.LifApiVersion
                        </td>
                        <td>
                            @Model.CustomerSiteApiVersion
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>