@using VisaNet.Common.Resource.Presentation

@{
    Layout = "~/Views/Shared/_HighwayLayout.cshtml";
}

<div class="container p25t">
    <div class="pageBox mb20">
        <div class="formMargin">
            <h3 class="visaTextBlue"><i class="icon-warning-sign mr5"></i> @PresentationCoreMessages.AppsError_Title</h3>
            <div class="horizontalLineWhite"></div>

            <h4 class="pageNotFoundDescription"> @PresentationCoreMessages.AppsError_Description</h4>
        </div>
    </div>
</div>