<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VISA</title>
</head>

<body style="background:#e6eced">
    <table width="800" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; background:#ffffff; border: 1px solid #dadada">
        <tr>
            <td><img style="right: 0; height: 56px;" src="{HeaderPath}header.png" alt="VISA" /></td>
        </tr>
        <tr>
            <td style="padding-top: 60px;padding-left: 36px;padding-right: 36px;padding-bottom: 5px;font-family: arial;color: #4f9bc9;font-size: 18px;">Nuevo pago</td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">Hemos recibido un nuevo pago de su parte. Adjuntamos una copia del comprobante de pago.</td>
        </tr>
        @*<tr>
            <td><hr style="width: 91%;" /></td>
        </tr>

        <tr>
            <td style="padding-top: 30px;padding-left: 36px;padding-right: 36px;padding-bottom: 5px;font-family: arial;color: #4f9bc9;font-size: 18px;">Ahora pagá tu comida online</td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">
                10% OFF + 9 puntos de IVA*
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">
                <img src='http://www.pedidosya.com.uy/blog/wp-content/uploads/2016/06/visa-blog-2-620x350.jpg' />
            </td>
        </tr>
        <tr>
            <td style="padding-top: 10px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom:5px;font-family: arial;color: #858585;font-size: 14px;">
                Bases y Condiciones | #DeliveryModoOn
                <br />
                DeliveryModoOn es una campaña que realizan en conjunto PedidosYa y Visanet Uruguay. Es válida para todo Uruguay y se extenderá entre el 1º de julio y el 31 de agosto de 2016.
                <br /><br />
                ¿De qué se trata?
                En todos los pedidos que se realicen a través de PedidosYa a restaurantes adheridos al pago online se brindará un descuento del 10% al pagar con tarjetas de crédito Visa. El descuento aplica para todos los usuarios que utilicen tarjeta de crédito y Prepagas Visa emitidas en Uruguay

                <br /><br />
                *Según Ley 17.934. Promoción válida todos los días entre el 1º de julio y el 31 de agosto de 2016 para pedidos realizados por PedidosYa a restaurantes adheridos pagando online con tarjetas de Crédito y Prepagas Visa emitidas en Uruguay.
                <b>El descuento de 10% se verá reflejado en el estado de cuenta.</b>
                <br /><br />

                Ver condiciones en <a href='https://www.visanet.com.uy/noticias/ahora-paga-tu-comida-online/'>VisaNet</a>
            </td>
        </tr>*@
        <tr>
            <td style="padding-top: 20px;line-height: 1.4em;padding-left: 36px;padding-right: 36px;padding-bottom: 60px;font-family: arial;color: #858585;font-size: 14px; font-style:italic">
                Gracias por utilizar nuestros servicios.<br />
                El equipo de VisaNet Uruguay
            </td>
        </tr>
        <tr>
            <td style="background:#75787b; padding-top:10px; padding-left:36px; padding-bottom:10px; padding-right:36px; color:#dadada; font-family:Arial, Helvetica, sans-serif; font-size:12px">Visa portal de pagos © 2014. Todos los derechos reservados.</td>
        </tr>
    </table>
</body>
</html>